/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Root */
:root {
    --primary-color: #313638; /* Primary text color */
    --secondary-color: #636363;
    --hover-color: #575a5c; /* Hover state color */
    --background-color: #fff; /* Background color */
    --button-text-color: #fff; /* Button text color */
    --hamburger-menu-text: #F1F1F1;
    --accent-color: #D4AF37;
    --button-bg-hover: #252527cb; /* Button background color on hover */
    --link-text-hover: #313638b4; /* Link text color on hover */
    --overlay-bg-color: rgba(0, 0, 0, 0.9); /* Background color for overlays */
    --social-icon-opacity: 0.7; /* Opacity for social icons on hover */
}

/* Navbar Styles */
body {
    font-family: "Teachers", sans-serif;
    background-color: var(--background-color);
}

html, body {
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

header {

    background-size: cover;
    padding: 5px 20px; /* Reduced vertical padding */
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    max-height: 50px;
    margin-left: 10px;
    padding: 25px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links:active {
    display: flex;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    text-decoration: none;
    color: #313638;
    font-weight: 500;
    font-size: 24px;
    margin: 25px;
    position: relative; /* Necessary for absolute positioning of the pseudo-element */
    display: inline-block; /* Ensures the width is only as wide as the text */
    overflow: hidden; /* Keeps the pseudo-element within the link's bounds */
}

.nav-links a:hover {
    color: var(--link-text-hover);
}

.navbar-btn {
    text-decoration: none;
    color: var(--primary-color); /* adjust color as needed */
    padding: 8px 16px;
    border: 2px solid var(--primary-color);
    margin-right: 10px;
    font-size: 20px;
    text-align: center;
}

.navbar-btn:hover {
    background-color: var(--hover-color);
    color: var(--button-text-color);
}

.hamburger-menu {
    display: none;
}

@media (max-width: 768px) {
    .navbar {
        align-items: center;
    }

    .hamburger-menu {
        display: block;
        background: none;
        border: none;
        font-size: 32px;
        color: var(--primary-color);
        z-index: 999;
    }

    .hamburger-menu:hover{
        cursor: pointer;
    }

    .logo {
        order: 1;
        flex: 1 150%;
        text-align: center;
        flex-grow: 1;
    }

    .logo img {
        height: 50px; /* Adjust the size as needed */
    }

    .nav-links {
        position: fixed; /* Full-screen overlay */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.9); /* Semi-transparent black background */
        z-index: 998; /* Makes sure the menu is on top */
        flex-direction: column;
        justify-content: center; /* Centers items vertically */
        align-items: center; /* Centers items horizontally */
        display: none; /* Hidden by default */
    }

    .nav-links.active {
        display: flex; /* Change to flex to maintain your flex settings */
        align-items: center;
    }

    .nav-links a {
        font-size: 2em; /* Larger font size for better readability on mobile */
        color: var(--hamburger-menu-text); /* White text color */
        display: block; /* Makes each link full-width */
    }

    .nav-links a.active {
        text-decoration: underline;  /* Adds an underline to the active nav link */
    }
    
    .nav-links li {
        width: 100%; /* Each link takes the full width of the menu */
        text-align: center;
    }

    .fa-xmark {
        color: var(--hamburger-menu-text); /* Ensures the icon is visible on darker backgrounds */
        font-size: 32px; /* Adjust the size as needed */
        display: block; /* Ensures that the icons are not inline */
    }

    .nav-buttons {
        order: 2;
        flex: 1 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar-btn {
        display: block;
        width: 80%;
        margin: 10px auto;
        font-size: 0.8em;
        text-align: center;
        padding: 5px;
    }
}

/* Hero Image Styles */
/* Style for the hero image container */
.hero {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 85vh;
    overflow: hidden;
}

.hero-image {
    width: 90%;
    height: auto; /* Adjust height as needed */
    object-fit: cover; /* Ensure the image covers the full area without distortion */
}

/* Positioning the text and button over the image */
.hero-content {
    position: absolute;
    top: 50%; /* Adjust this value as needed to move text up on desktop */
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--button-text-color);
    text-align: center;
    width: 40%
}

.hero-content h1 {
    font-size: 4em;
    margin-bottom: 70px;
    color: var(--primary-color);
    font-weight: 600;
    font-family: "Playfair Display", serif;
}

/* Styling the button */
.hero-button {
    text-decoration: none;
    color: var(--primary-color);; /* adjust color as needed */
    border: 2px solid var(--primary-color);;
    padding: 24px 48px;
    font-size: 24px;
}

.hero-button:hover {
    background-color: var(--button-bg-hover);
    color: var(--button-text-color);
}

@media (max-width: 768px) {
    .hero {
        height: 30vh;  /* Full viewport height */
        position: relative;  /* Needed for absolute positioning inside */
    }

    .hero-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 70%;
        object-fit: contain;  /* Makes the entire image fit within the frame without cropping */
        background-color: var(--background-color); /* Optional: Adds a background color if the image does not cover the whole area */
    }

    .hero-content {
        position: absolute;
        top: 30%; /* Adjusted for better vertical positioning */
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%; /* Slightly reduced for better text display */
        text-align: center;
        color: var(--button-text-color);
    }

    .hero-content h1 {
        font-size: 2em;  /* Suitable size for readability */
        margin-bottom: 1em;  /* Reduce space between the heading and the button */
    }

    .hero-button {
        font-size: 1em;  /* Larger button font */
        padding: 10px 20px;  /* More substantial button */
        border: none;
        background-color: var(--primary-color);
        color: var(--hamburger-menu-text);
    }
}

/* Feature 4 Section */
.featured-4-section {
    text-align: center;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 40px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.section-header {
    margin-bottom: 40px; /* Space between the title and the items */
}

.section-title {
    font-size: 3em;
    text-align: center;  /* Center the title */
    font-family: 'Playfair Display', serif;  /* Example font-family */
}

.items-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.featured-item {
    flex: 1; /* Distributes space evenly */
    text-align: center;
    padding: 10px;
}

.featured-item img {
    width: 80px; /* Adjust based on your icons' size */
    height: auto;
    margin-bottom: 20px;
}

.featured-item figcaption {
    padding-bottom: 10px;
    font-size: 1.5em;
}

.featured-item p {
    color: var(--secondary-color); /* Paragraph text color */
    line-height: 1.6;
}

@media (max-width: 768px) {
    .items-container {
        flex-direction: column;
    }
}

/* Feature 2 Section */
.feature-section {
    display: flex;
    flex-direction: column;
    margin-top: 5%;  /* Adjust the value as needed */
    margin-right: auto;
    margin-bottom: 0;  /* Keeps bottom margin at 0 */
    margin-left: auto;
    max-width: 1200px; /* Adjust width as necessary */
}

.feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px; /* Space between sections */
}

.feature-image {
    width: 45%;
    height: auto;
    object-fit: cover;
}

.feature-content {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Centers the button horizontally in a column flex container */
    text-align: center;
    width: 45%;
}

.feature h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
    text-align: center;
    font-family: "Playfair Display", serif;
}

.feature p {
    font-size: 1.4em;
    margin-bottom: 20px;
    line-height: 1.4;
}

.learn-more-btn {
    padding: 12px 24px;
    color: var(--primary-color); /* adjust color as needed */
    border: 2px solid var(--primary-color);
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
}

.learn-more-btn:hover {
    background-color: var(--button-bg-hover);
    color: var(--background-color);
}

.feature-reverse {
    flex-direction: row-reverse; /* Flips the image and text positions */
}

@media (max-width: 768px) {
    .feature-section {
        margin-top: 0; /* Remove top margin if unneeded */
        padding-top: 0; 
    }

    .feature, .feature-reverse {
        flex-direction: column;
        align-items: center; /* Center align the features for a consistent look */
    }

    .feature-image, .feature-content {
        width: 100%; /* Full width for images and content */
    }

    .feature-content h2 {
        font-size: 2.5em;
        margin-top: 5%;
        margin-bottom: 10px;
    }

    .feature p {
        font-size: 1.1em;
    }

    .learn-more-btn {
        margin-top: 20px; /* Add margin to space button correctly */
    }
}

/* Services Styles */
.service-page h1 {
    font-family: "Playfair Display", serif;
    color: var(--primary-color); /* Dark grey for text */
    text-align: center; /* Center align the heading */
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 2.5em;
}

/* Image styling */
.service-image {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.service-image img {
    width: 80%;
    max-width: 600px; 
}

/* Tabs styling */
.service-tabs {
    background: var(--background-color);
    padding: 10px 0;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 25px; 
    margin-top: 15px;
}

.service-item {
    padding: 15px;
    position: relative;
    border: 1px solid #ccc;
}

.service-item h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--primary-color);
    font-size: 22px;
    font-weight: 500;
}

.service-item p {
    color: var(--secondary-color);
    font-size: 14px;
}

.price {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 18px;
    color: #313638;
    font-weight: 500;
}

.bold {
    font-weight: 600;
    color: rgb(85, 85, 85);
}

/* List styling */
.tab-list {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content: space-evenly;
}

/* Individual tab styling */
.tab {
    padding: 10px 20px; /* Padding inside each tab */
    font-weight: 500;
    font-size: 24px;
    cursor: pointer;
    color: #313638; /* Medium grey for tab text */
    text-align: center; /* Center text inside tabs */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.tab:hover,
.tab.active {
    color: var(--accent-color); /* White text when active/hover */
    border-bottom: 1px solid var(--accent-color);
    width: fit-content;
}

/* Content styling */
.tab-content {
    display: none; /* Initially hide all tab content */
    padding: 20px;
    border-top: none;
}

.tab-content.active {
    display: block; /* Show active tab content */
}

.tab-content h2 {
    font-size: 1.5em;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 500;
    text-align: center;
}

/* Media Query for devices up to 768px wide */
@media (max-width: 768px) {
    .service-image img {
        width: 80%; /* Adjust width for very small devices */
    }

    .service-item h3, .service-item p, .price {
        text-align: center; /* Center-align text for better readability */
    }

    .tab {
        padding: 12px; /* Increase padding for easier interaction */
        text-align: center;
    }

    .services-grid {
        padding: 0 10px; /* Padding inside grid for edge spacing */
    }
    
    .services-grid {
        display: grid;
        grid-template-columns: 1fr; /* Single column layout on small screens */
        gap: 20px;
        margin-bottom: 10%;
    }

    /* Adjustments to text size and element spacing */
    .service-item h3 {
        font-size: 18px; /* Smaller for mobile */
        width: 65%;
        margin-left: 20%;
    }
    
    .service-item p {
        font-size: 16px; /* Larger font size for readability */
    }

    .price {
        font-size: 18px;
    }
    
    /* Tab Styles */
    .tab-list {
        display: flex;
        flex-direction: column; /* Stack tabs vertically */
        align-items: center; /* Center tabs horizontally */
    }
    
    .tab {
        width: 100%; /* Full width tabs for easier clickability */
        margin: 5px 0; /* Add space between tabs */
        font-size: 18px; /* Larger font size for better readability */
    }
    
    /* Ensure content is only displayed when its tab is active */
    .tab-content {
        padding: 10px;
        display: none; /* Hide by default */
    }
    
    .tab-content.active {
        display: block; /* Show when active */
    }

    .tab-content h2 {
        padding: 0;
    }
}


/* Gallery Styles */
.gallery-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    padding-right: 75px;
    padding-left: 75px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 40px;
}

.gallery-image {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: start;
}

.gallery-image img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    padding-bottom: 10px;
}

.gallery-image:hover img {
    opacity: 0.7;
    cursor: pointer;
}

.gallery-header {
    text-align: center;
    font-size: 2.5em;
    font-weight: 200;
    padding-top: 20px;
    font-family: "Playfair Display", serif;
}

.image-overlay {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-overlay .close {
    position: absolute;
    top: 20px;
    right: 35px;
    font-size: 40px;
    color: var(--background-color);
    cursor: pointer;
}

.image-overlay .prev,
.image-overlay .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: var(--background-color);
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    user-select: none;
}

.image-overlay .prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}

.image-overlay .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.overlay-content {
    max-width: 80%;
    max-height: 80%;
}

@media (max-width: 768px) {
    .gallery-container {
        grid-template-columns: 1fr;  /* Only one column on small screens */
        padding-right: 15px;
        padding-left: 15px;  /* Reduce padding for smaller screens */
    }

    .gallery-image img {
        width: 100%;  /* Ensure images scale correctly */
        height: auto;  /* Adjust height automatically */
    }
}

/* About Us Page Styles */

/* General styles for both sections */
.cleanliness-commitment, .owner-story {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 50px;
    margin: 25px auto; /* Combines margin settings */
    max-width: 1200px;
}

/* Common image styles for both sections */
.commitment-image, .owner-image {
    flex: 1;
    text-align: center;
    padding-right: 20px;
}

/* Common image tag styles */
.commitment-image img, .owner-image img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.commitment-image img {
    margin-left: 50px;
}

/* Common description styles for both sections */
.commitment-description, .owner-description {
    flex: 1;
    text-align: left;
    padding-left: 20px;
}

/* Header and paragraph styles for text descriptions */
.commitment-description h2, .owner-description h2 {
    font-family: 'Playfair Display', serif;
    color: var(--primary-color);
    font-size: 2.48em;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.commitment-description p, .owner-description p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #636363;
    margin-bottom: 25px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .cleanliness-commitment, .owner-story {
        flex-direction: column;
        padding: 20px;
    }

    .commitment-image, .owner-image, .commitment-description, .owner-description {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .commitment-image, .owner-image {
        order: -1; /* Only needed if image should come before text */
        margin-bottom: 20px;
    }

    .commitment-image img {
        margin: 0;
    }

    .owner-description {
        margin-bottom: 10%; /* Consistent margin-bottom style */
    }

    .store-info {
        padding: 20px;
        text-align: center;
    }

    .store-info h2, .store-info h3, .owner-description h1 {
        font-size: 2.2em; /* Standardized smaller font size for headers */
    }
}

/* Location Page Styles */
.contact-info {
    display: flex;
    justify-content: space-around; /* Adjusts space distribution */
    align-items: center; /* Centers items vertically */
    padding: 20px 0;
    background-color: #fff; /* Adjust background color as needed */
    margin-top: 30px;
}

.info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1; /* Ensures equal width for all blocks */
}

.icon-container {
    margin-bottom: 10px; /* Space between icon and text */
}

.icon-container img {
    width: 80px; /* Increased icon size */
    height: auto;
}

.info-block h3 {
    margin: 0;
    font-size: 2em; /* Increased font size for headers */
    color: var(--primary-color); /* Adjust text color as needed */
    padding-bottom: 5px;
}

.info-block p {
    margin: 5px 0 0;
    font-size: 1.2em; /* Adjust font size as needed */
    color: var(--secondary-color); /* Adjust text color as needed */
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Map Styles */
.map-section-title {
    font-size: 3em;
    text-align: center;  /* Center the title */
    font-family: 'Playfair Display', serif;  /* Example font-family */
    margin-bottom: 50px;
    margin-top: 50px;
}

#map {
    width: 70%;
    height: 600px;
    margin: 0 auto 50px; /* Automatically adjust the margin to center the map */
}

@media (max-width: 768px) {
    #map {
        width: 100%;
    }

    .contact-info {
        flex-direction: column; /* Stack the info blocks vertically */
        padding: 20px 10px; /* Adjust padding for smaller screens */
    }

    .info-block {
        margin-bottom: 20px; /* Adds space between stacked blocks */
    }

    .icon-container img {
        width: 60px; /* Smaller size for icons on smaller screens */
    }

    .info-block h3 {
        font-size: 1.8em; /* Smaller font size for headers */
    }

    .info-block p {
        font-size: 1em; /* Smaller font size for paragraphs */
    }
}

/* Book an Appointment Page Styles */
.call-to-action {
    text-align: center; /* Center align the content */
    padding: 40px 20px; /* Ample padding for visual space */
    margin: 30px 0; /* Space from other page elements */
}

.cta-content {
    display: inline-block; /* Center the content block */
    max-width: 600px; /* Max width for better readability */
}

.cta-icon {
    width: 50px; /* Icon size */
    height: auto;
    margin-bottom: 20px; /* Space below the icon */
}

.call-to-action h2 {
    color: var(--primary-color); /* Use the primary brand color */
    margin-bottom: 10px; /* Space between the heading and paragraph */
    font-family: "Playfair Display", serif;
    font-size: 3em;
    padding-bottom: 50px;
}

.call-to-action p {
    font-size: 1.5em; /* Larger text for clarity */
    color: var(--primary-color); /* Subdued text color for easy reading */
    margin-bottom: 10px; /* Space between paragraphs */
    padding-bottom: 10px;
}

.cta-phone-number {
    font-size: 1.5em; /* Larger font size for phone number */
    color: var(--secondary-color); /* Secondary brand color for emphasis */
    margin-bottom: 20px; /* Space before the button */
}

.call-to-action button {
    background-color: var(--primary-color);
    color: var(--hamburger-menu-text);
    border: none; /* No border */
    padding: 10px 20px; /* Padding inside the button */
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 1.2em; /* Text size inside the button */
    cursor: pointer; /* Cursor effect on hover */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.call-to-action button:hover {
    background-color: var(--secondary-color); /* Slightly different color on hover */
}

.location-info {
    color: #000;
    text-align: center;
    padding: 20px;
    background-color: #fff; /* Or any other color that fits the design */
    max-width: 600px;
    margin: 20px auto;
}

.location-info h1 {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 2em;
    margin-bottom: 10px;
    padding-bottom: 15px;
}

.location-info p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.location-info h2 {
    font-family: "Playfair Display", serif;
    font-size: 2em;
    margin-top: 20px; /* Space before business hours */
    margin-bottom: 10px;
    padding-bottom: 15px;
}

.location-info button {
    background-color: #000; /* Button background */
    color: #fff; /* Text color */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    text-transform: uppercase; /* Style preference */
}

.location-info button:hover {
    background-color: #555; /* Darker on hover */
}

/* Footer Styles */
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 40px; /* Increased padding for more space around content */
}

.footer-left, .footer-center, .footer-right {
    display: flex;
    align-items: center;
}

.footer-link, .social-link {
    color: var(--primary-color);
    text-decoration: none;
    padding: 0 15px;
    margin: 5px 0;
}

.footer-link:hover {
    color: var(--hover-color);
}

.social-icon {
    width: 24px; /* Adjust size as needed */
    height: auto;
}

.social-link:not(:last-child) {
    margin-right: 20px; /* Increased space between social icons */
}

.social-link img {
    display: block;
    transition: opacity 0.3s ease;
}

.social-link img:hover {
    opacity: var(--social-icon-opacity);
}

@media (max-width: 768px) {
    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
        margin: 0 auto;
    }

    .footer-left, .footer-center, .footer-right {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px; /* Adds more space between each section */
    }

    .footer-link, .social-link {
        padding: 10px 5px; /* Reduce padding for smaller screen */
        display: inline-block; /* Makes it easier to manage layout on small screens */
    }

    .social-link:not(:last-child) {
        margin: 0;
    }
}